@font-face
{
    font-family: 'AvenirLTStd-Black';

    src: url('Avenir/2B7ADE_0_0.eot');
    src: url('Avenir/2B7ADE_0_0.eot?#iefix') format('embedded-opentype'),url('Avenir/2B7ADE_0_0.woff') format('woff'),url('Avenir/2B7ADE_0_0.ttf') format('truetype');
}
#viewport
{
    font-family: 'Avenir';
    font-size: 15px;
    font-weight: 300;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
}
#numbers
{
    font-weight: 700;
    font-size:19em;
    color:#FFF;

    position: absolute;
    z-index: 69;
    top: 50%;
    left: 55%;
    pointer-events: none;
    opacity: 0;

    transform: translate(-50%, -50%);



    @include transition();
    &.show{
        opacity: .1;
    }
    span{
        font-size:.3em;
    }
}

#clock
{
    position: relative;
    top: -50vh;
    left: -100vw;

    width: 300vw;
    height: 300vh;
    section
    {
        position: relative;

        width: 100%;
        height: 50%;
        span
        {
            position: absolute;
            left: 50%;

            width: $span-sizing;
            height: $span-sizing;

            transform: translate(-50%, 0%);

            border-width: 10px;
            border-style: solid;
            border-radius: 50%;
            z-index: 6969;
        }
        &#day
        {
            top: 0;

            background-color: #65c7e1;
            span
            {
                bottom: $span-spacing;

                border-color: #c89a24;
                background-color: #eed419;
            }
        }
        &#night
        {
            bottom: 0;

            background-color: #313e70;
            span
            {
                top: $span-spacing;

                border-color: #939786;
                background-color: #d4dabd;
            }
        }
    }
}
